#cod{
	color: rgb(185, 29, 29);
	text-decoration-line: overline underline;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: oblique;
	transform: translate(120px ,-60px);
	
};
